USE [master]
GO
/****** Object:  Database [Supershop]    Script Date: 06.12.2023 20:12:45 ******/
CREATE DATABASE [Supershop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ucr_B', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Ucr_B.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ucr_B_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Ucr_B_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Supershop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Supershop]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductArticleNumber] [varchar](50) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[Quantity] [nvarchar](255) NULL,
	[ProductCost] [int] NULL,
	[ProductDiscountAmount] [int] NULL,
	[ProductManufacturer] [nvarchar](255) NULL,
	[ProductProvider] [nvarchar](255) NULL,
	[ProductCategory] [nvarchar](255) NULL,
	[ProductEffectiveDiscount] [int] NULL,
	[ProductQuantityInStock] [int] NULL,
	[ProductDescription1] [nvarchar](255) NULL,
	[ProductPhoto] [nvarchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Prod]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Prod]
AS
SELECT        ProductName AS [Название продукта], ProductCategory AS [Категория ], ProductDescription1 AS [Описание продукта], ProductQuantityInStock AS Количество, Quantity AS [Ед. измерения ], 
                         ProductManufacturer AS [ Производитель], ProductProvider AS Поставщик, ProductEffectiveDiscount AS [Действующая скидка], ProductDiscountAmount AS [Сумма скидки], ProductCost AS Сумма, 
                         ProductArticleNumber AS артикул
FROM            dbo.Products
GO
/****** Object:  Table [dbo].[Order]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderDeliveryDate] [datetime] NOT NULL,
	[OrderPickupPoint] [int] NOT NULL,
	[UserID] [int] NULL,
	[Code] [int] NULL,
	[OrderStatus] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickUp_Point]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickUp_Point](
	[ItemID] [int] NOT NULL,
	[ItemIndex] [int] NULL,
	[ItemCity] [nvarchar](255) NULL,
	[ItemStreet] [nvarchar](255) NULL,
	[ItemHouseNumber] [nchar](10) NULL,
 CONSTRAINT [PK_Pick_Up_Point] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserSurname] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPatronymic] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](max) NOT NULL,
	[UserPassword] [nvarchar](max) NOT NULL,
	[UserRole] [int] NOT NULL,
 CONSTRAINT [PK_Usr] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[OrderPID] [int] NOT NULL,
	[ProductArticleNumbe] [varchar](50) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderPID] ASC,
	[ProductArticleNumbe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewOrder]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewOrder]
AS
SELECT        String_agg(dbo.Products.ProductName, ' , ') AS [Содержимое заказа], dbo.[Order].OrderDate AS [Дата заказа], dbo.[Order].OrderDeliveryDate AS [Дата доставки], SUM(dbo.Products.ProductCost) AS [Сумма заказа], 
                         AVG(dbo.Products.ProductDiscountAmount) AS Скидка, dbo.[Order].OrderStatus AS [Статус заказа], dbo.[Order].OrderID
FROM            dbo.[Order] INNER JOIN
                         dbo.PickUp_Point ON dbo.[Order].OrderPickupPoint = dbo.PickUp_Point.ItemID INNER JOIN
                         dbo.OrderProduct ON dbo.[Order].OrderID = dbo.OrderProduct.OrderPID INNER JOIN
                         dbo.Products ON dbo.OrderProduct.ProductArticleNumbe = dbo.Products.ProductArticleNumber INNER JOIN
                         dbo.Users ON dbo.[Order].UserID = dbo.Users.UserID
GROUP BY dbo.[Order].OrderDate, dbo.[Order].OrderDeliveryDate, dbo.[Order].OrderStatus, dbo.[Order].OrderID
GO
/****** Object:  Table [dbo].[Role]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Role__8AFACE3A44A52266] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Order] ([OrderID], [OrderDate], [OrderDeliveryDate], [OrderPickupPoint], [UserID], [Code], [OrderStatus]) VALUES (1, CAST(N'2022-05-01T00:00:00.000' AS DateTime), CAST(N'2022-05-07T00:00:00.000' AS DateTime), 2, 52, 111, N'Новый ')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [OrderDeliveryDate], [OrderPickupPoint], [UserID], [Code], [OrderStatus]) VALUES (2, CAST(N'2022-05-02T00:00:00.000' AS DateTime), CAST(N'2022-05-08T00:00:00.000' AS DateTime), 8, NULL, 112, N'Новый ')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [OrderDeliveryDate], [OrderPickupPoint], [UserID], [Code], [OrderStatus]) VALUES (3, CAST(N'2022-05-03T00:00:00.000' AS DateTime), CAST(N'2022-05-09T00:00:00.000' AS DateTime), 10, NULL, 113, N'Новый ')
GO
INSERT [dbo].[OrderProduct] ([OrderPID], [ProductArticleNumbe], [Quantity]) VALUES (1, N'F933T5', 5)
INSERT [dbo].[OrderProduct] ([OrderPID], [ProductArticleNumbe], [Quantity]) VALUES (1, N'K478R4', 10)
INSERT [dbo].[OrderProduct] ([OrderPID], [ProductArticleNumbe], [Quantity]) VALUES (2, N'D034T5', 6)
GO
INSERT [dbo].[PickUp_Point] ([ItemID], [ItemIndex], [ItemCity], [ItemStreet], [ItemHouseNumber]) VALUES (1, 344288, N' г. Ковров', N' ул. Чехова', N'1         ')
INSERT [dbo].[PickUp_Point] ([ItemID], [ItemIndex], [ItemCity], [ItemStreet], [ItemHouseNumber]) VALUES (2, 614164, N' г.Ковров', N'  ул. Степная', N'30        ')
INSERT [dbo].[PickUp_Point] ([ItemID], [ItemIndex], [ItemCity], [ItemStreet], [ItemHouseNumber]) VALUES (3, 394242, N' г. Ковров', N' ул. Коммунистическая', N'43        ')
GO
INSERT [dbo].[Products] ([ProductArticleNumber], [ProductName], [Quantity], [ProductCost], [ProductDiscountAmount], [ProductManufacturer], [ProductProvider], [ProductCategory], [ProductEffectiveDiscount], [ProductQuantityInStock], [ProductDescription1], [ProductPhoto]) VALUES (N'B025Y5', N'Блюдо', N'шт.', 1890, 5, N'Home Philosophy', N'Стокманн', N'Интерьерные аксессуары', 3, 8, N'Блюдо декоративное flower 35 см Home Philosophy', N'picture.png')
INSERT [dbo].[Products] ([ProductArticleNumber], [ProductName], [Quantity], [ProductCost], [ProductDiscountAmount], [ProductManufacturer], [ProductProvider], [ProductCategory], [ProductEffectiveDiscount], [ProductQuantityInStock], [ProductDescription1], [ProductPhoto]) VALUES (N'B037T5', N'Блюдо', N'шт.', 690, 5, N'Home Philosophy', N'Стокманн', N'Интерьерные аксессуары', 2, 14, N'Блюдо декоративное Flower 35 см', N'picture.png')
INSERT [dbo].[Products] ([ProductArticleNumber], [ProductName], [Quantity], [ProductCost], [ProductDiscountAmount], [ProductManufacturer], [ProductProvider], [ProductCategory], [ProductEffectiveDiscount], [ProductQuantityInStock], [ProductDescription1], [ProductPhoto]) VALUES (N'D034T5', N'Диффузор', N'шт.', 800, 20, N'Miksdo', N'Hoff', N'Ароматы для дома', 2, 15, N'Диффузор Mikado intense Апельсин с корицей', N'D034T5.jpg')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Клиент')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (2, N'	Алексеев 	 ', N'	Владислав	 ', N'	Аркадьевич		 ', N'	loginDEbct2018		 ', N'	Qg3gff	 ', 2)
INSERT [dbo].[Users] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (3, N'Савельева 	 ', N'	Евфросиния	 ', N'	Арсеньевна		 ', N'	loginDEvtg2018		 ', N'	ETMNzL	 ', 2)
INSERT [dbo].[Users] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (4, N'Никонов 	 ', N'	Мэлс	 ', N'	Лукьевич		 ', N'	loginDEuro2018		 ', N'	a1MIcO	 ', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_PickUp_Point] FOREIGN KEY([OrderPickupPoint])
REFERENCES [dbo].[PickUp_Point] ([ItemID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_OrderProduct_PickUp_Point]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Usr] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_OrderProduct_Usr]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_Order_Products] FOREIGN KEY([ProductArticleNumbe])
REFERENCES [dbo].[Products] ([ProductArticleNumber])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_Order_Products]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderPID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Usr_Role] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Usr_Role]
GO
/****** Object:  StoredProcedure [dbo].[Aut]    Script Date: 06.12.2023 20:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Aut]
@Login varchar(50),
@Password varchar(50)

AS
BEGIN
SELECT * 
FROM Users 
WHERE UserLogin =@Login and UserPassword = @Password 
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Products"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 302
               Right = 466
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3570
         Alias = 2400
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Prod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Prod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Order"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PickUp_Point"
            Begin Extent = 
               Top = 6
               Left = 261
               Bottom = 136
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "OrderProduct"
            Begin Extent = 
               Top = 6
               Left = 490
               Bottom = 119
               Right = 695
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Products"
            Begin Extent = 
               Top = 6
               Left = 733
               Bottom = 136
               Right = 956
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "Users"
            Begin Extent = 
               Top = 6
               Left = 994
               Bottom = 136
               Right = 1168
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewOrder'
GO
USE [master]
GO
